<% if @liked_movies.any? %>
<h3><%= pluralize_without_count(@liked_movies.count, 'One Like For', 'Liked These')%></h3>
  <ul>
    <% @liked_movies.each do |movie| %>
      <li>
        <%= link_to movie.title, movie %>
      </li>
    <% end %>
  </ul>
<% end %>
